*{
    background-color: rgb(255, 115, 0);
    color: #000000;
}
.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
  }
  

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

.story {
    padding: 10%;
  
}

header, footer {
    background-color: #000000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}




/* Add more styles based on your creativity and design preferences */